/*generales*/
@font-face {
font-family: 'Dancing Script',cursive;
      src:url("https://fonts.googleapis.com/css?family=Dancing+Script")
}
*{margin: 0px;padding: 0px;}
.contenido{
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  font-family: 'Dancing Script',cursive;
  animation-name: animacion;
  animation-duration: 3s;
}
/*---------------------*/
/*Header*/
header{
  width: 100%;
  overflow: hidden;
  background-color: #5b7989;
  margin-bottom: 20px;
  line-height: 70px;
  color: #ffff;
  -webkit-border-radius:10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
  border-radius:10px 10px 0px 0px;
}
#titulo{

  overflow: hidden;
  float: left;
  width: 60%;
  text-align: center;
  text-shadow: 1px 2px 2px #02010a;
}
header nav{
  float: right;
  overflow: hidden;
  width: 40%;
  text-align: center;
}
header nav a{
  display: inline-block;
  color: #ffff;
  padding: 10px 10px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
}
/*--------------*/
/*body*/
#FotoPrincipal{
  width: 100%;
  background-color: #82c3a6;
  padding: 20px 0px;

}

#imagePrincipal{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#imagePrincipal img{
  width: 100%;
  box-shadow: 2px 2px #02010a;
}
#ImagenesSecundarias{
  display: inline-block;
  overflow: hidden;
  padding: 20px 20px;
  background-color: #d5c75f;
}

.image2 img{
  width: 100%;

}
.image2 p a{
  color: #000000;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.image2 p {
  text-align: center;
}
#retrato{
  float:right;
  width: 45%;
}
#paisaje{
  float: left;
  width: 45%;
}
#paisaje img{
box-shadow: 2px 2px #02010a;
  transition:transform 1s linear;
}
#retrato img{
box-shadow: 2px 2px #02010a;
  transition:transform 1s linear;
}


.active{
  text-decoration: none;
}

/*--------------*/
/*footer*/
footer{
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 10px 0px;
  margin-top: 20px;
  background-color: #C6d5c5;
  -webkit-border-radius:0px 0px 10px 10px;
  -moz-border-radius:0px 0px 10px 10px;
  border-radius:0px 0px 10px 10px;
}
footer h2{
  margin: 0px;
}

.contenedorFooter{
  display: inline-block;
  width: 23%;
  margin: 0px;
  overflow: hidden;
  float: left;
  padding: 0px 8px;
}
.icons{
  width: 24px;
  margin-bottom: 10px;
  margin-right:10px;
  vertical-align: middle;
}
/*--------------*/
/*Media query*/
@media screen and (max-width:900px) {
    /*Header*/
      #titulo{
        overflow: hidden;
        width: 100%;
      }
      header nav {
        overflow: hidden;
        width: 100%;
      }
      /*body*/
      #imagePrincipal{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
      #ImagenesSecundarias{
        display: block;
        overflow: hidden;
        padding: 20px 0px;
      }
      #retrato{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding: 20px 0px;
      }
      #paisaje{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        padding-bottom: 20px;
      }
  /*footer*/
      .contenedorFooter{
        display: block;
        width: 100%;
        min-height: 0px;
        text-align: center;
        margin-bottom: 20px;
        padding:0px;
      }
      footer{
        margin-top: 20px;
      }


}
/*---------*/
/* Pseudo-clases*/
#paisaje img:hover{

  transform:rotate(10deg);
  border: 2px solid #050505;
  box-shadow: 5px 5px #82c3a6;
}
#retrato img:hover{

transform: translate(20px,-5px);

  border: 2px solid #050505;
  box-shadow: 5px 5px #82c3a6;
}

@keyframes animacion {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }

}
